/.idea

/brainstorming_ideas

/project_proposal_latex

/good_project_drools_implementations

/.junie

/.claude

/train-safety-system/.idea
/train-safety-system/.junie
/train-safety-system/.mvn

/train-safety-system/**/target/